{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">RegiUp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#ingresar">Ingresar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutUs">Nosotros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-4">

  <div class="row text-center my-5">
    <h1 class="display-3">Gestión de Garantías</h1>
    <p class="lead">Bienvenido al sistema gestor de tickets de garantía de RegiUp.</p>
  </div>

  <div id="ingresar" class="row justify-content-center bg-dark py-5">
    <h2 class="text-white text-center mt-3">Ingresar</h2>
    <p class="text-white text-center mb-3">Aquí podrás llevar un registro de los tickets de garantía de tus productos y
      conversar con nuestro equipo
      especializado.</p>
    <div class="col-4 m-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center">Iniciar Sesion</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Si ya tienes usuario ingresa en el siguiente boton para ver tus tickets.</p>
        </div>
        <div class="card-footer text-body-secondary text-center">
          <a href="{{url_for('login')}}" class="btn btn-primary">Ingresar</a>
        </div>
      </div>
    </div>
    <div class="col-4 m-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center">Registrarme</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Si no tienes usuario puedes crear uno rapidamente haciendo click en el
            siguiente boton.</p>
        </div>
        <div class="card-footer text-body-secondary text-center">
          <a href="{{url_for('register')}}" class="btn btn-primary">Registrarme</a>
        </div>
      </div>
    </div>
  </div>

  <div id="aboutUs" class="row justify-content-center bg-info-subtle">
    <div class="col-9 text-center my-5">
      <h2>Nosotros</h2>
      <p>Somos un equipo especializado en el manejo de tickets de garantía para productos eléctricos. Nuestro
        objetivo es proporcionar una solución eficiente y fácil de usar que permita a los usuarios gestionar
        de manera efectiva los tickets de garantía y la información de los productos y clientes.</p>
      <p>Con nuestro sistema, podrás llevar un control detallado de los tickets, registrar los productos
        vendidos, y mantener una base de datos actualizada de tus clientes. Nuestro enfoque es brindar una
        experiencia intuitiva y amigable para facilitar la gestión de garantías y mejorar la satisfacción
        del cliente.</p>
    </div>
  </div>

  <div class="row py-5 bg-dark">
    <div class="text-center">
      <span class="text-white">Sistema Gestor de Tickets de Garantía &copy; 2024</span>
    </div>
  </div>
  
</div>
{% endblock %}